@model GameStore.Models.Community

@{
    ViewData["Title"] = "Details";
}

<h1>Discussions</h1>

<div>
    <div class="messageBackdrop">
        <div class="messageHeader">
            @Model.user.Name talks about @Model.game.Title <br>
            @if (Model.DateTime != null)
            {
                <span>
                    Posted on: @Model.DateTime.ToString("dd'.'MM'.'yyyy' @ 'HH':'mm':'ss")
                </span>
                <br>
            }
            <a asp-controller="Shop" asp-action="Index">Add to Friends</a>
        </div>
        <div class="messageContent">
            @Model.message
        </div>
    </div>
</div>

<a asp-action="Create" asp-controller="Comments" asp-route-ID="@Model.ID">Reply</a>

@foreach(var comment in Model.comments)
{
    <p>@comment.Message</p>
}