@model GameStore.Models.Community

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.title</h1>

<div>
    <div class="messageBackdrop">
        <div class="messageHeader">
            @Model.user.Name talks about @Model.game.Title <br>
            @if (Model.DateTime != null)
            {
                <span>
                    Posted on: @Model.DateTime.ToString("dd'.'MM'.'yyyy' @ 'HH':'mm':'ss")
                </span>
                <br>
            }
            @if (Context.Session.GetInt32("user_ID") != -1 && Context.Session.GetInt32("user_ID") != Model.user.ID)
            {
                <a asp-action="sys_addFriend" asp-route-id="@Model.user.Name"> Add to Friends</a>
            }
        </div>
        <div class="messageContent">
            @Model.message
        </div>
    </div>
</div>

@if (Context.Session.GetInt32("user_ID") != -1)
{
    <a asp-action="Create" asp-controller="Comments" asp-route-ID="@Model.ID">Reply</a>
}
@foreach(var comment in Model.comments)
{
    <div>
        <div class="messageBackdrop">
            <div class="messageHeader">
                @if (comment.User != null)
                {
                    <span>
                        @comment.User.Name commented...
                    </span>
                    @if (Context.Session.GetInt32("user_ID") != -1 && Context.Session.GetInt32("user_ID") != comment.User.ID)
                    {
                        <a asp-action="sys_addFriend" asp-route-id="@comment.User.ID"> Add to Friends</a>
                    }
                } else
                {
                    <span>
                        Deleted User
                    </span>
                }
                
            </div>
            <div class="messageContent">
                @comment.Message
            </div>
        </div>
    </div>

}