@model GameStore.Models.Game

@{
    ViewData["Title"] = "Details";
    var lorem = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet., sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.";
}

<h1>@Model.Title</h1>

<div class="base">
    <div class="leftSide">
        <div class="bigGamePreview">Placeholder</div>
        <br/>
        <br/>
        <div class="purchaseBackdrop">Pruchase @Model.Title</div>
        @if (Context.Session.GetInt32("user_Funds") >= Model.price)
        {
            <a asp-action="sys_purchaseGame" asp-route-id="@Context.Session.GetInt32("user_ID")" asp-route-gameID="@Model.ID">
                <div class="purchaseButton">@Model.price €</div>
            </a>
        } else
        {
            <div class="purchaseButton cantafford">@Model.price €</div>
        }
        <br>
        <br>
        <br>
        @lorem;
    </div>
    <div class="rightSide">
        <div class="smallGamePreview">Placeholder</div>
        <div>
            @Model.Description
        </div>
        <br>
        <br>
        <br>
        Minimum Specs:<br>
        Literally anything.
    </div>
</div>

