@model GameStore.ViewModels.openChatModel

@{
    ViewData["Title"] = "Index";

    var user1 = Model.user;
    var user2 = Model.user2;
}

<h1>Index</h1>

@foreach (var item in Model.chats) {
    if (user1.ID == item.user1Id)
    {
        <p>@user1.Name : @item.message</p>
    } else
    {
        <p>@user2.Name : @item.message</p>
    }

}
<p>
    <a asp-action="Create" asp-route-userID1="@Model.userID" asp-route-userID2="@Model.user2ID">Respond...</a>
</p>